@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");

.sloganFont {
  font-family: "Edu VIC WA NT Beginner", cursive;
  text-shadow: 0px 0px 5px rgb(255, 251, 0);
}

.sloganBg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://thumbs.dreamstime.com/b/mexican-food-drink-panorama-overhead-flat-lay-panoramic-shot-nachos-other-dishes-tequila-216118314.jpg")
      no-repeat center;
  background-size: cover;
}
